@import "@/styles/layout.styl";
@import 'swiper/dist/css/swiper.css';
.contact-main-wrap
  width 100%
  position relative
  .contact-wrap
    width 100%
    background #FFFFFF
    overflow hidden
    position relative
    .contact-content
      width 1280px
      margin 0 auto
      position relative
      .contact-view
        width 100%
        margin-bottom 60px
        .contact-cell
          width 400px
          height 160px
          padding 32px
          .icon
            margin-top 16px
            width 64px
            height 64px
          .title
            font-size 20px
            color #181818
            font-family "PingFang SC"
            font-weight bold
            margin-left 96px
            margin-top 24px
            line-height 28px
          .desc
            font-size 14px
            color #666666
            line-height 28px
            margin-left 96px
      .contact-view:after
        visibility hidden
        display block
        font-size 0
        content ""
        clear both
        height 0
  .address-wrap
    width 100%
    background #FFFFFF
    overflow hidden
    position relative
    .address-content
      width 1280px
      margin 0 auto
      position relative
      .address-view
        width 100%
        .address-cell
          width 400px
          padding 32px
          position relative
          overflow hidden
          .icon
            width 80px
            display block
            border-radius 40px
            height 80px
            margin 0 auto
          .title
            color #181818
            font-weight bold
            font-size 18px
            font-family "PingFang SC"
            text-align center
            width 100%
            line-height 28px
          .text
            font-family "PingFang SC"
            font-size 14px
            color #666666
            text-align center
      .address-view:after
        visibility hidden
        display block
        font-size 0
        content ""
        clear both
        height 0
