<section class="contact-main-wrap">
  <div class="tabs-content-wrap" data-anchor="contact">
    <%=contactView%>
  </div>
  <div class="tabs-content-wrap" data-anchor="contact">
    <%=addressView%>
  </div>
  <%=formView%>
</section>