<div class="join-wrap">
  <div class="join-content">
    <% if(envData.title) { %>
    <div class="c-module-title <% if(!envData.desc){ %>c-module-b-60<% } %>"><%=envData.title%></div>
    <% } else { %>
    <div class="c-module-title <% if(!envData.desc){ %>c-module-b-60<% } %>">工作环境</div>
    <% } %>

    <!--描述-->
    <% if(envData.desc) { %>
    <div class="c-module-desc"><%=envData.desc%></div>
    <% } %>

    <div class="join-view">
      <% envData.content.forEach(function(col, index){ %>
      <div class="col-cell">
        <div class="block-view fn-left" <% if(col.data.length < 7){ %>style="width: <%=(7 - col.data.length) / 2 * (1176 / 7) + 9 * (col.data.length % 2 + 1) %>px" <% } %>></div>
        <% col.data.forEach(function(item){ %>
        <div class="item-cell fn-left">
          <div class="content-img-wrap">
            <div class="img-content">
              <img src="<%=item%>" alt="工作环境" />
            </div>
          </div>
        </div>
        <% }); %>
      </div>
      <% }); %>
    </div>
  </div>
</div>