<section class="join-main-wrap">

  <div class="tabs-content-wrap" data-anchor="env">
    <%=envView%>
  </div>

  <div class="tabs-content-wrap" data-anchor="welfare">
    <%=welfareView%>
  </div>

  <div class="tabs-content-wrap" data-anchor="resume">
    <%=resumeView%>
  </div>

    <%=formView%>
</section>
