@import "@/styles/layout.styl";
@import 'swiper/dist/css/swiper.css';
.solution-education-framework-wrap
  width 100%
  overflow hidden
  background #FFFFFF
  position relative
  .framework-content
    width 1280px
    overflow hidden
    position relative
    margin 0 auto
  .framework-view
    margin-bottom 60px
    width 100%
    .top-view,.bottom-view
      width 100%
      height 80px
      background #ffffff
      .title
        font-size 16px
        width 120px
        color #181818
        text-align center
        line-height 80px
        height 80px
        font-weight 600
    .middle-view
      width 100%
      height 536px
      background #ffffff
      position relative
      .title-view
        width 120px
        height 100%
        position relative
        .title
          width 12px
          line-height 24px
          font-weight 600
          font-size 16px
          color #181818
          text-align center
          position absolute
          left 50%
          top 50%
          transform translate(-50%,-50%)
      .content-view
        width calc(100% - 120px)
        height 100%
    .sec-top-view
      width calc(100% - 20px)
      border 1px solid #e5edf8
      height 80px
      .sec-title
        width 150px
        font-size 16px
        color #181818
        text-align center
        line-height 80px
        height 80px
    .sec-middle-view
      width 100%
      height 306px
      .sec-cell-view
        border 1px solid #e5edf8
        width calc(50% - 20px)
        height 100%
        .th-title
          width 100%
          height 48px
          line-height 48px
          color #181818
          text-align center
          font-size 16px
        .th-content-view
          background #FFEFD5
          width 172px
          height calc(100% - 58px)
          .fo-title
            width 100%
            height 48px
            line-height 48px
            color #181818
            text-align center
            font-size 14px
    .item
      width 120px
      height 40px
      line-height 40px
      font-size 14px
      text-align center
    .dt1
      border 1px solid #00BFFF
      background #b8f1ed
      color #00BFFF
    .dt2
      border 1px solid #999999
      background #E6E6FA
      color #999999
    .dt3
      border 1px solid #FFA500
      background #FFDEAD
      color #FFA500
    .w-212
      width 212px
    .w-178
      width 177px
    .w-auto-10
      width calc(100% - 20px)

