@import '@/styles/variables'

.main-layout
  position relative
  width 100%
  min-width 1280px
  // header模块
  .header-absolute
    position absolute
    top 0
    left 0
  .header-fixed
    position fixed
  .header-bg
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background-color rgb(24, 22, 22)
    opacity 0.4
  .header-wrap
    height 64px
    width 100%
    z-index 998
    line-height 64px
    box-shadow 0 2px 4px rgba(0,21,41,.08)
    border-bottom 1px solid rgba(255, 255, 255, 0.1)
    .header-content
      width 1280px
      position relative
      margin 0 auto
      .v-img
        vertical-align middle
        height 40px
      .header-nav
        position relative
        left 24px
        li
          position relative
          float left
          &.active
            a
              opacity 1
            span
              opacity 1
          &:hover
            a
              opacity 1
            span
              opacity 1
        a
          display block
          padding 0 30px
          font-size 14px
          color #FFF
          opacity 0.7
          transition all .3s
        .t-white
          color #444444
        .empty-span
          display block
          position absolute
          left 30px
          bottom 1px
          width calc(100% - 60px)
          height 2px
          background #ffffff
          opacity 0
          transition all .3s
        .t-white-t
          background-color #4169E1
        .menu-wrap
          // 直接隐藏
          opacity 0
          visibility hidden
          display none
          //visibility visible
          //display block
          background #FFFFFF
          left 0
          border-radius 2px
          position absolute
          top 60px
          overflow hidden
          box-shadow 0 3px 6px -4px rgba(0,0,0,0.12), 0 6px 16px 0 rgba(0,0,0,0.08), 0 9px 28px 8px rgba(0,0,0,0.05)
          .m-tabs-left
            width 215px
            height 100%
            background-color #F0F5FF
            .m-tabs-title-wrap
              cursor pointer
              position relative
              font-size 14px
              height 64px
              width 100%
              color #181818
              .icon-img-wrap
                width 32px
                height 32px
                background-color #D4D9E3
                border-radius 16px
                overflow hidden
                float left
                position relative
                margin-top 16px
                .icon-img
                  width 24px
                  height 24px
                  margin-top 4px
                  margin-left 4px
              .text-title
                font-size 14px
                color #181818
                height 64px
                line-height 64px
                display inline-block
                font-weight 400
                font-family "PingFang SC"
                font-style normal
            .m-tabs-title-wrap-active
              background-color #E1EBFF
              .icon-img-wrap
                background linear-gradient(315deg,#01ebdd 13.19%,#5360fb 74.07%)
              .text-title
                color color-primary
                font-weight 500
          .m-tabs-right
            width calc(100% - 215px)
            height 100%
            .m-tabs-item-wrap
              width 100%
              height 100%
              .content-item-wrap-column
                min-width 180px
                .content-item-title
                  font-size 14px
                  color color-primary
                  font-weight 500
                  font-family "PingFang SC"
                  height 40px
                  line-height 40px
                .data-item
                  font-family "PingFang SC"
                  font-size 14px
                  font-weight 400
                  height 32px
                  line-height 32px
                  cursor pointer
                  color #444444
                  display block
                  padding 0
                .data-item:hover
                  color color-primary
              .content-item-wrap-cell
                width 100%
                min-height 40px
                .content-item-title
                  font-size 16px
                  cursor pointer
                  color #444444
                  font-weight 500
                  font-family "PingFang SC"
                  height 40px
                  line-height 40px
                .content-item-desc
                  font-size 14px
                  cursor pointer
                  color #7e87a2
                  font-weight 400
                  font-family "PingFang SC"
                  line-height 24px
              .content-item-wrap-cell:hover
                .content-item-title
                  color color-primary
                .content-item-desc
                  color #444444
              .content-item-wrap-cell-n-4
                width 181.25px
                box-shadow 0 2px 4px rgba(0,21,41,.08)
                border 1px solid #eeeeee
                float left
                height 265px
                .icon-img-wrap
                  width 100%
                  height auto
                  img
                    width 100%
                    height auto
                .content-item-title
                  width 100%
                  font-size 14px
                  text-align center
                  cursor pointer
                  color #444444
                  font-weight 500
                  font-family "PingFang SC"
                  height 40px
                  line-height 40px
                .content-item-desc
                  font-size 12px
                  cursor pointer
                  padding-left 10px
                  padding-right 10px
                  color #7e87a2
                  font-weight 400
                  font-family "PingFang SC"
                  line-height 20px
                  text-align center
          .m-view-wrap
            width 100%
            height 100%
            position relative
            .m-n-4-cell-wrap
              height 120px
              width 150px
              padding 0
              display block
              margin 20px
              overflow hidden
              position relative
              line-height 0
              cursor pointer
              .icon
                position relative
                width 32px
                height 32px
                margin-top 12px
                margin-left 50%
                transform translateX(-50%)
                display inline-block
                margin-bottom 4px
              .title
                font-size 14px
                font-family "PingFang SC"
                line-height 28px
                height 28px
                color #181818
                text-align center
              .desc
                font-size 12px
                font-family "PingFang SC"
                line-height 24px
                text-align center
                padding-left 4px
                color #444444
                padding-right 4px
            .m-n-4-cell-wrap:hover
              .title
                color #4169E1
            .m-n-1-wrap
              position relative
              width 100%
              padding 0
              display block
              height auto
              .pointer
                width 6px
                height 6px
                border-radius 3px
                margin-top 11px
                margin-left 8px
                background-image: linear-gradient(90deg, #01ebdd 0%, #5360fb 100%);
              .title
                font-size 14px
                color #444444
                font-family "PingFang SC"
                height 28px
                line-height 28px
                margin-left 24px
                cursor pointer
              .title:hover
                color color-primary
              .line
                width 100%
                height 1px
                background-color #ebeff7
                margin-top 15px
                margin-bottom 15px
        .menu-wrap-active
          visibility visible
          display block
          opacity 1
        .tag-hot
          font-size 12px
          padding-left 8px
          padding-right 8px
          height 20px
          line-height 20px
          background-color #ffe7e4
          margin-left 12px
          display inline-block
          color #f67c71
        .tag-new
          font-size 12px
          padding-left 8px
          padding-right 8px
          height 20px
          line-height 20px
          background-color #F0FFF0
          margin-left 12px
          display inline-block
          color #32CD32
      .tel
        color #fff
        animation breath 5s ease-in-out infinite
        font-size 14px
        .tel-img
          width 24px
          height 24px
          margin-right 8px
          margin-top 18px
        .tel-t
          color #ffffff
        .tel-t-white
          color #444444
  .footer-wrap
    background-color #242424
    .footer-content
      min-height 400px
      overflow hidden
      position relative
      width 1280px
      margin 0 auto
      //background-color orange
      .footer-top-wrap
        .footer-item-wrap
          height auto
          min-width 120px
          .item-title
            line-height 40px
            font-size 14px
            color #FFFFFF
            font-family "PingFang SC"
          .item-text
            font-size 14px
            color rgba(255,255,255,0.4)
            height 32px
            line-height 32px
            display block
          .item-hover
            cursor pointer
            transition all 0.3s ease-in-out
          .item-hover:hover
            color color-primary
            padding-left 10px
            all 0.5s ease-in-out
          .qrcode-wrap
            width 100%
            height 100px
            background-color rgba(255,255,255,0.08)
            position relative
            overflow hidden
            img
              width 80px
              height 80px
              margin-top 10px
              margin-left 10px
            .text-wrap
              width calc(100% - 100px)
              height 100px
              position relative
              .text-container
                top 50%
                position relative
                transform translateY(-50%)
                .text
                  color rgba(255,255,255,0.6)
                  font-size 14px
                  height 24px
                  line-height 24px
                  padding-left 8px
      .footer-top-wrap:after
        visibility hidden
        display block
        font-size 0
        content ""
        clear both
        height 0
      .footer-middle-wrap
        width 100%
        .middle-cell
          width 100%
          .txt
            font-size 14px
            color rgba(255,255,255,0.4)
          .link-text:hover
            color color-primary
            cursor pointer
          .icon-link
            width 28px
            height 28px
            border-radius 14px
            display inline-block
            background-color rgba(255,255,255,0.2)
            cursor pointer
            img
              width 16px
              height 16px
              margin-top 6px
              margin-left 6px
      .footer-line-wrap
        height 1px
        width 100%
        background #fff
        opacity 0.1
      .footer-bottom-wrap
        position relative
        margin 0 auto
        overflow hidden
        .copy-right
          font-size 12px
          text-align center
          color rgba(255,255,255,0.3)

  .side-menu-wrap
    position fixed
    right 32px
    width 48px
    z-index 999
    bottom 20px
    .contact-wrap
      width 48px
      cursor pointer
      height 160px
      display block
      background-image linear-gradient(180deg, #5360fb 0%, #01bbdd  96%)
      border-radius 24px
      position relative
      .contact-text
        width 16px
        color #FFFFFF
        letter-spacing 0
        font-size 16px
        text-align justify
        position absolute
        left 16px
        top 50%
        transform translateY(-50%)
    .side-icon-wrap
      width 48px
      height 114px
      cursor pointer
      margin-top 16px
      border-radius 24px
      margin-bottom 20px
      background-color #FFFFFF
      box-shadow 0 0 14px 0 rgba(0,0,0,0.15)
      padding 12px
      .line
        width 100%
        height 1px
        background-color rgba(0,0,0,0.15)
      .icon
        height 35px
        width 100%
        img
          width 100%
          height 100%
    .top-click
      width 48px
      height 48px
      border-radius 24px
      box-shadow 0 0 14px 0 rgba(0,0,0,0.15)
      background-color #FFFFFF
      padding 14px
      cursor pointer
      img
        width 100%
        height 100%
    .show-guide-view
      width 260px
      background-color #ffffff
      box-shadow 0 10px 33px 0 rgba(0,21,41,.08)
      position absolute
      right 65px
      top 24px
      height 96px
      padding 20px
      border-radius 5px
      .guide-main-view
        width 100%
        .guide-title,.guide-desc
          font-size 16px
          color #374567
          font-weight 400
          height 32px
          text-align center
          line-height 32px
        .guide-desc
          color #4169E1
          display block
        .guide-desc:hover
          text-decoration underline
    .show-guide-view:before
      border 8px solid transparent
      border-left 10px solid #fff
      top 16px
      content " "
      position absolute
      right -18px
 .custom-box-wrap
  .content-view
    width 600px
    height 360px
    background-color #ffffff
@keyframes breath {
  0% {
    transform: scale(1)
  }
  25% {
    transform: scale(1.1)
  }
  50% {
    transform: scale(1)
  }
  75% {
    transform: scale(1.1)
  }
}

@import '@/styles/component'
@import '@/styles/common'
// global优先级最高
@import '@/styles/global'
