@import "@/styles/layout.styl";
@import 'swiper/dist/css/swiper.css';
.declare-main-wrap
  .declare-wrap
    width 100%
    background rgb(246,247,249)
    .declare-content
      width 1280px
      margin 0 auto
      position relative
      .main-view
        width 100%
        min-height 200px
        background-color #ffffff
        margin-bottom 60px
