@import "@/styles/layout.styl";
@import 'swiper/dist/css/swiper.css';

.index-page-wrap
  .index-content
    position relative
    .main-banner-wrap
      width 100%
      height 535px
      position relative
      .swiper-container-banner
        position relative
        .banner-pagination
          position absolute
          top 358px
          height 3px
          z-index 111
          left 50%
          max-width 640px
          margin-left -640px
          .swiper-pagination-bullet
            width 30px
            height 3px
            border-radius 1.5px
            margin-right 8px
            background-color #999999
            cursor pointer
          .swiper-pagination-bullet-active
            background-color #2366ef
        .full-banner-wrap
          height 100%
          background-repeat no-repeat
          background-size auto 535px
          background-position-y center
          background-position-x center
          .banner-content-wrap
            width 1280px
            position relative
            height 535px
            margin 0 auto
            .main-title
              width 100%
              text-align left
              font-weight 500
              font-size 40px
              color #FFFFFF
              line-height 56px
              padding-top 120px
            .banner-black
              color #374567
            .desc-item-wrap
              margin-top 16px
              .main-desc
                font-size 16px
                color rgba(255,255,255,0.85)
                width 600px
                text-align justify
                line-height 28px
              .banner-black
                color #374567
            .main-btn
              background-image linear-gradient(90deg, #5360fb 0%, #01bbdd  96%)
              border-radius 2px
              width 108px
              display block
              font-weight 500
              cursor pointer
              font-size 14px
              color #FFFFFF
              line-height 36px
              text-align center
              height 36px
              margin-top 32px
      .column-wrap
        height 95px
        width 100%
        position absolute
        top 440px
        left 0
        background rgba(7,17,33,0.5)
        z-index 10
        .column-content
          margin 0 auto
          width 1280px
          height 100%
          position relative
          .column-cell
            width calc(25% - 48px)
            height 47px
            display block
            padding 24px
            cursor pointer
            transition all 0.3s ease-in-out
            .tit
              height 28px
              line-height 28px
              display inline-block
              width 100%
              text-align center
            .desc
              margin-top 6px
              width 100%
              text-align center
              font-size 14px
          .column-cell:hover
            display block
            background-image linear-gradient(90deg, #5360fb 0%, #01bbdd  96%)
    .product-wrap
      width 100%
      position relative
      overflow hidden
      background-color #ffffff
      .product-content
        margin 0 auto 40px auto
        width 1280px
        position relative
        .more-btn
          width 108px
          height 36px
          margin 0 auto
          color #01bbdd
          border-radius 2px
          font-size 14px
          text-align center
          line-height 36px
          border 1px solid #01bbdd
          margin-top 24px
          display block
          cursor pointer
        .product-view
          height 420px
          width 948px
          margin 0 auto 20px auto
          position relative
          .product-cell
            width 300px
            height 100%
            background-color #FFFFFF
            box-shadow 0 0 15px 0 rgba(0,0,0,0.15)
            border-radius 2px
            transition all 0.3s ease-in-out
            position relative
            overflow hidden
            .product-cell-content
              width 100%
              height 100%
              .product-info-content
                position absolute
                left 0
                right 0
                top 0
                bottom 0
                z-index 111
                padding 24px
                .icon-wrap
                  width 80px
                  height 80px
                  position relative
                  margin 96px auto 0 auto
                  transition all 0.4s ease-in-out
                  img
                    position absolute
                    left 0
                    top 0
                    width 100%
                    height 100%
                .tit
                  width 100%
                  text-align center
                  margin-top 16px
                .txt
                  text-align center
                  margin-top 8px
                .btn
                  width 100px
                  height 36px
                  background-color #FFFFFF
                  color #01bbdd
                  font-size 14px
                  text-align center
                  line-height 36px
                  border-radius 4px
                  margin 24px auto 0 auto
                  cursor pointer
                  opacity 0
            .product-cell-content:before
              top auto
              bottom 0
              transition all 0.3s ease-in-out
              left 75px
              content ""
              position absolute
              width 75px
              height 0
              background-image linear-gradient(180deg, #5360fb 0%, #01bbdd 96%)
            .product-cell-content:after
              left 225px
              content ""
              transition all 0.3s ease-in-out
              position absolute
              top auto
              bottom 0
              width 75px
              height 0
              background-image linear-gradient(180deg, #5360fb 0%, #01bbdd 96%)
          .product-cell:before
            left 0
            content ""
            position absolute
            transition all 0.3s ease-in-out
            top 0
            width 75px
            height 0
            background-image linear-gradient(180deg, #5360fb 0%, #01bbdd 96%)
          .product-cell:after
            left 150px
            content ""
            position absolute
            transition all 0.3s ease-in-out
            top 0
            width 75px
            height 0
            background-image linear-gradient(180deg, #5360fb 0%, #01bbdd 96%)
          .product-cell:hover
            .product-cell-content:before,.product-cell-content:after
              height 420px
            .product-cell-content
              .product-info-content
                .icon-wrap
                  margin-top 64px
                .tit
                  color white
                .txt
                  color white
                .btn
                  opacity 1
          .product-cell:hover:before,.product-cell:hover:after
            height 420px
          .product-cell:active
            background-image linear-gradient(180deg, #5360fb 0%, #01bbdd 96%)
        .product-view:after
          visibility hidden
          display block
          font-size 0
          content ""
          clear both
          height 0
    .statics-wrap
      width 100%
      position relative
      overflow hidden
      height 340px
      background #FFFFFF
      .statics-mask
        width 100%
        left 0
        top 0
        position absolute
        z-index 99
        background-image url('../../assets/images/cssBg/bg_statics.png')
        background-size cover
        height 340px
        filter blur(3px)
      .statics-content
        width 100%
        height 100%
        background-color rgba(0,0,0,0.5)
        left 0
        top 0
        z-index 100
        position absolute
        .statics-info-wrap
          margin 0 auto
          width 1040px
          position relative
          z-index 100
          .statics-view
            width 100%
            margin 0 auto
            .statics-cell
              width 230px
              height 90px
              padding 20px
              .number-wrap
                display block
                height 32px
                left 50%
                text-align center
                .number
                  font-weight 600
                  color white
                  font-size 28px
                  width 100%
                  font-family "Microsoft Sans Serif"
                  text-align center
              .txt
                font-size 14px
                color #999999
                width 100%
                text-align center
                margin-top 12px
            .mar-r40
              margin-right 40px
          .statics-view:after
            visibility hidden
            display block
            font-size 0
            content ""
            clear both
            height 0
    .solution-wrap
      width 100%
      position relative
      overflow hidden
      background-color #242933
      .solution-content
        width 1280px
        margin 0 auto 40px auto
        .solution-view
          width 100%
          height 480px
          position relative
          .solution-cell
            width 220px
            height 216px
            position absolute
            padding-left 12px
            padding-right 12px
            .solution-cell-view
              width 100%
              height 100%
              padding 8px
              border-radius 4px
              position relative
              cursor pointer
              background-image linear-gradient(179deg,#292f3b 2%,#242933)
              box-shadow 8px 8px 20px 0 rgb(18 21 26 / 60%)
              overflow hidden
              .icon-wrap
                margin-top 12px
                width 48px
                height 48px
                margin-left calc(50% - 24px)
                img
                  width 100%
                  height 100%
              .name
                width 100%
                text-align center
                margin-top 8px
                margin-bottom 8px
              .tit
                width 100%
                margin-top 8px
                margin-bottom 8px
              .txt
                width 100%
                text-align center
                color rgba(255,255,255,0.5)
              .active-box
                position absolute
                left 8px
                top 8px
                width calc(100% - 16px)
                height calc(100% - 16px)
                background-color #141414
                border-radius 4px
                padding 32px
                background-image url('../../assets/images/cssBg/bg_solution.png')
                background-size 100% 100%
                .mar-b80
                  margin-bottom 80px
                .tit
                  width 100%
                  margin-top 8px
                  margin-bottom 8px
                  transition all 0.5s ease-in-out
                  min-width 308px
                .desc
                  min-width 308px
                  transition all 0.5s ease-in-out
                .tag-view
                  position absolute
                  left 32px
                  width calc(100% - 64px)
                  top 230px
                  height auto
                  transition all 0.5s ease-in-out
                  .tag-wrap
                    width 100%
                    height 28px
                    margin-bottom 8px
                    text-align left
                    .icon-wrap
                      width 18px
                      height 18px
                      margin 0
                      margin-top 5px
                      img
                        width 100%
                        height 100%
                    .desc
                      width 100%
                      margin-left 28px
                      line-height 28px
                      height 28px
                      color white
                .btn
                  font-size 14px
                  color #4F8DFC
                  width 100%
                  cursor pointer
                  transition all 0.5s ease-in-out
                  display inline-block
                  position absolute
                  left 32px
                  bottom 32px
              .tr
                .tit
                  transition all 0.5s ease-in-out
                  opacity 0
                .desc
                  opacity 0
                  transition all 0.5s ease-in-out
                .tag-view
                  opacity 0
                  transition all 0.5s ease-in-out
                .btn
                  opacity 0
                  transition all 0.5s ease-in-out
          .solution-cell:hover
            transition all 0.3s ease-in-out
            .solution-cell-view
              .icon-wrap
                transition all 0.3s ease-in-out
              .name
                transition all 0.3s ease-in-out
              .tit
                transition all 0.3s ease-in-out
    .customer-wrap
      width 100%
      position relative
      overflow hidden
      .customer-content
        margin 60px auto 0 auto
        width 1280px
        .tabs-view
          width 1188px
          margin 0 auto
          height 113px
          position relative
          .tab-cell
            width 108px
            float left
            height 113px
            cursor pointer
            position relative
            .box-wrap
              width 64px
              height 64px
              margin-left 22px
              border-radius 32px
              position relative
              border 1px solid transparent
              overflow hidden
              .icon-wraps
                width 34px
                height 34px
                margin-left 15px
                margin-top 15px
                transition all 0.3s ease-in-out
                img
                  width 100%
                  height 100%
                  position relative
                  left 50%
                  top 50%
                  transform translate(-50%,-50%)
            .box-text
              margin-top 13px
              font-size 18px
              font-family "PingFang SC"
              width 100%
              text-align center
              color #181818
              font-weight 500
              line-height 36px
          .tab-cell-active
            .box-wrap
              background #FFFFFF
              border 1px solid #4169E1
              box-shadow 0 8px 6px 1px rgba(69,114,255,0.08)
              .icon-wraps
                transition all 0.3s ease-in-out
                transform scale(1.2)
            .box-text
              color #4169E1
          .tab-line
            width 72px
            height 1px
            margin-top 32px
            float left
            background transparent
        .customer-view
          width 1280px
          height 400px
          margin 16px auto 60px auto
          overflow hidden
          .customer-view-cell
            width 100%
            height 100%
            overflow hidden
            position relative
            .left-view
              width 720px
              height 400px
              .cover-wrap
                width 100%
                height 300px
                overflow hidden
                img
                  width auto
                  //height 300px 图没切好，先高用305px cover住
                  height 305px
              .logo-wrap
                width 100%
                height 100px
                background-color white
                .img-wrap
                  width 33.33%
                  position relative
                  height 100%
                  img
                    width auto
                    height 50%
                    position absolute
                    left 50%
                    top 50%
                    transform translate(-50%,-50%)
                .br
                  border-right 1px solid #efefef
            .right-view
              width 560px
              height 400px
              position relative
              overflow hidden
              background-image linear-gradient(120deg, #5360fb 0%, #01bbdd  96%)
              .info-wrap
                position absolute
                top 50%
                left 0
                width 100%
                transform translateY(-50%)
                padding 32px
                .quotation
                  font-size 80px
                  line-height 64px
                  min-width 66px
                .words
                  font-size 16px
                  line-height 30px
                  margin-left 66px
                  font-family "PingFang SC"
                  text-align justify
                .name-wrap
                  height 28px
                  margin-top 48px
                  width 100%
                  .speaker
                    font-size 16px
                    line-height 28px
                    height 28px
                    font-weight 600
                    font-family "PingFang SC"
                  .name
                    font-size 16px
                    line-height 28px
                    height 28px
                  .line
                    width 36px
                    background-color white
                    height 1px
                    margin-top 13.5px
          .customer-view-cell:after
            visibility hidden
            display block
            font-size 0
            content ""
            clear both
            height 0
    .logo-view-wrap
      width 100%
      position relative
      overflow hidden
      background-color white
      .logo-view-content
        margin 60px auto
        width 1280px
        .logo-cell-wrap
          width 193.33px
          height 68px
          position relative
          transition transform 0.3s ease-in-out
          img
            width auto
            height 70%
            position absolute
            left 50%
            top 50%
            transform translate(-50%,-50%)
      .logo-view-content:after
        visibility hidden
        display block
        font-size 0
        content ""
        clear both
        height 0
    .certify-wrap
      width 100%
      position relative
      overflow hidden
      .certify-content
        margin 60px auto 60px auto
        width 1280px
        .certify-view
          width 1280px
          height 300px
          overflow hidden
          .swiper-slide
            width calc(1280px / 6)
            height 150px
            padding 16px
            .icon-wrap
              width 64px
              height 64px
              margin-left 58.6px
              img
                width 100%
                height 100%
            .txt
              color #596177
              font-size 14px
              width 100%
              text-align center
              margin-top 24px
    .resource-wrap
      width 100%
      position relative
      overflow hidden
      background-image url('../../assets/images/cssBg/bg_resource.png')
      background-size 100% 100%
      .resource-content
        margin 60px auto 60px auto
        width 1280px
        .resource-view
          height 240px
          width 1280px
          .left-view
            width 776px
            height 240px
            .top-view
              width 100%
              height 132px
              padding-left 24px
              .tit
                font-size 14px
                color #181818
                text-align justify
                line-height 26px
                max-width 530px
            .bottom-view
              width 60%
              height 108px
              .advantage-cell
                max-width 220px
                height 28px
                margin-bottom 12px
                width 50%
                .icon
                  width 28px
                  height 28px
                .text
                  line-height 28px
                  height 28px
                  font-size 16px
                  color #181818
                  margin-left 40px
          .right-view
            width 504px
            height 240px
            .resource-cell
              width 108px
              height 108px
              transition all 0.3s ease-in-out
              border-radius 10px
              background-image linear-gradient(0deg,#fff,#eeeeee)
              box-shadow 0 8px 20px 0 rgba(0,0,0,0.3)
              cursor pointer
              .icon-wrap
                width 36px
                height 36px
                margin-left 36px
                margin-top 16px
                transition all 0.3s ease-in-out
                img
                  width 100%
                  height 100%
              .txt
                margin-top 16px
                width 100%
                text-align center
                font-size 14px
                color #333333
                font-family "PingFang SC"
            .resource-cell:hover
              transition all 0.3s ease-in-out
              background linear-gradient(0deg,#fff,#D4D4D4)
              transform scale(1.1)
              .icon-wrap
                transition all 0.3s ease-in-out
              .txt
                color #4169E1
    .news-wrap
      width 100%
      position relative
      overflow hidden
      background #ffffff
      .news-content
        margin 60px auto 60px auto
        width 1280px
        .news-view
          width 1280px
          height 450px
          .left-view
            width 450px
            position relative
            height 450px
            .icon-wrap
              position absolute
              left 0
              top 0
              width 100%
              height 100%
              img
                width 100%
                height 100%
          .right-view
            width 806px
            height 450px
            .news-cell
              border 1px solid #e1e6f0
              border-radius 4px
              width 391px
              background white
              height 213px
              padding 24px
              position relative
              box-shadow 0 0 15px 0 rgba(0,0,0,0.15)
              transition all 0.3s ease-in-out

              .tit
                font-size 18px
                line-height 32px
                max-width 341px
                height 32px
                color #181818
                text-overflow ellipsis
                white-space nowrap
                overflow hidden
              .summary
                font-size 14px
                line-height 26px
                max-height 78px
                max-width 341px
                text-overflow ellipsis
                text-align justify
                margin-top 12px
                overflow hidden
                color #444444
                display -webkit-box
                -webkit-box-orient vertical
                -webkit-line-clamp 3
              .date
                position absolute
                left 24px
                bottom 24px
                min-width 100px
                font-size 14px
                height 26px
                line-height 26px
              .btn
                position absolute
                right 24px
                bottom 24px
                height 26px
                line-height 26px
                min-width 100px
                text-align right
                color #4169E1
                cursor pointer
                font-size 14px
            .news-cell-active
              background-image linear-gradient(120deg, #5360fb 0%, #01bbdd 80%)
              .tit,.summary,.date,.btn
                color white
        .more-btn
          width 108px
          height 36px
          margin 0 auto
          color #01bbdd
          border-radius 2px
          font-size 14px
          text-align center
          line-height 36px
          border 1px solid #01bbdd
          margin-top 24px
          display block
          cursor pointer





