<section class="activity-main-wrap">

  <div class="tabs-content-wrap" data-anchor="favorite">
    <%=favoriteView%>
  </div>

  <div class="tabs-content-wrap" data-anchor="hot">
    <%=hotView%>
  </div>

  <div class="tabs-content-wrap" data-anchor="brand">
    <%=brandView%>
  </div>

  <%=formView%>
</section>
