<!-- banner-wrap -->
<div class="banner-wrap">
  <div class="banner-content">
    <div class="banner-txt-wrap fn-left">
      <p class="title"><%= bannerData.title %></p>
      <p class="txt"><%= bannerData.text %></p>
      <% if(bannerData.button) { %>
        <p class="button">查看详情</p>
      <% } %>
    </div>

  </div>
</div>
