@import "@/styles/layout.styl";
@import 'swiper/dist/css/swiper.css';
.activity-detail-wrap
  width 100%
  background #ffffff
  .activity-detail-content
    width 1280px
    margin 0 auto
    position relative
    .fake-header
      height 64px
      width 100%
