<section class="help-main-wrap">
  <div class="tabs-content-wrap" data-anchor="quick">
    <%=quickView%>
  </div>

  <div class="tabs-content-wrap" data-anchor="common">
    <%=commonView%>
  </div>

  <%=formView%>
</section>