<div class="form-view-wrap">
  <div class="form-view-content">
    <div class="form-title">让您的业务 如指线般增长</div>
    <div class="form-desc">上万家客户值得信赖的合作伙伴</div>
    <a class="form-button" href="/form.html">
      申请试用
    </a>
  </div>
</div>
