@import "@/styles/layout.styl";
@import 'swiper/dist/css/swiper.css';
.case-detail-wrap
  width 100%
  background #ffffff
  .case-detail-content
    width 1280px
    margin 0 auto
    position relative
