<!-- footer-wrap -->
<footer class="footer-wrap">
  <div class="footer-content">
    <div style="height: 1000px">这是footer</div>
    <div style="height: 1000px">这是footer</div>

  </div>
</footer>

<script>
  console.log('这是footer')
</script>
